*{
    margin: 0;
    padding: 0;
    /* background-image: url('../img/bgkillua.jpeg'); */
    background-size: cover;
    /* background-color: #2f3640; */
}

.cover{
    background-size: cover;
    background-color: #2f3640;
    /* background-color: rgba(99, 92, 238, 0.3); */
}

.container
{
    
    max-width: 500px;
    margin: 0 auto;
    width: auto;
    height: 100vh;
    /* background-image: url('../img/killua3.png'); */
    /* background-color: rgba(99, 92, 238, 0.3); */
    background-position: center;
    background-size: cover;
}

.profile{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.profile > img{
    width: 150px;
    height: 150px;
    border: solid white;
    border-radius: 100%;
}

.profile > span{
    margin-top: 40px;
    letter-spacing: 4px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    /* text-decoration: underline; */
    /* border: 3px solid white; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > a {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 20px;
    padding: auto;
    padding-top: 8px;
    color: white;
    font-weight: bold;
    /* background-color: rgba(99, 92, 238, 0.3); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content > a:hover {
    background-color: #dcdde1;
    color: #2f3640;
}

.copyRight{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #dcdde1;
}



span{
    
    text-decoration: none;
}

